* {
  background-color:#ffa211;
  text-align:center;
}

#whole{
       margin: auto;
       position: absolute;
       top: 0; 
       left: 0;
       bottom: 0; 
       right: 0;
 }

#contdiv {
    width: 80%;
    height: 200px;
    background: aqua;
    margin: auto;
    padding: 10px;
}
#navdiv {
    width: 15%;
    height: 200px;
    background: red;
    float: left;
}
#miandiv {
    margin-left: 15%;
    height: 200px;
    background: black;
}
