html,
body {
  height: 100%;
  width: 100%;
  margin: 0 auto;
}

a {
  text-decoration: none;
  font-weight: 600;
}

a,
#header {
  color: coral;
}

p {
  font-family: Times new roman;
  font-size: 12pt;
}

input {
  background-color: lightgray;
  border: 0;
}

#input {
  border-top: 1px solid;
  border-bottom: 1px solid;
  border-right: 1px solid;
  border-left: 1px solid;
  border-radius: 2px;
}

#story {
  font-family: Verdana;
  font-size: 12pt;
}

#cont {

  width: 100%;
  height: 100;
  display: flex;
  flex-direction: column;
  background-color: #dcdcdc;
}

#header {
  display: flex;
  align-items: center;
  padding: 5px;
  background-color: #cbcbcb;
}

#main {
  width: 100%;
  flex-grow: 1;
  display: flex;
  flex-direction: row;
}

#nav {
  float: left;
  padding: 0 40px 0 15px;
}

#content {
  display: flex;
  justify-content: center;
  float: right;
  border-left: 2px solid coral;
  padding: 1% 15%;
}

#footer {
  display: flex;
  justify-content: center;
}

.sticky {
  position: fixed;
  top: 0;
  width: 100%;
}
.drop {
display:none;
}

.show {
  display: block;
}
